* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.titles {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  
}

.containers {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.header_title {
  color: black;
  font-size: 2rem;
  line-height: 1;  
  padding: 0 4rem;
}

.title {
  color: black;
  font-size: 28px;
  font-weight: 300;
}

.text {
  color: black;
  font-size: 14px;  
  padding: 0 4rem;
  padding-bottom: 2rem;
}

.color_code {
  color: black;
  font-size: 20px;  
  margin-top: 10px;
  
  
}




.container {
  
  width: 90%;
  padding: 0 4rem;
  max-width: 70em;
  display: flex;
  flex-wrap: wrap;
}

.window_container {
  
  width: 90%;
  padding: 0 4rem;
  max-width: 70em;
  display: flex;
  flex-wrap: wrap;
}


.container .card {
  width: 100%;
  max-width: 50px;
  margin: 5px 0;
  text-align: center;
}

.window_container .card {
  width: 100%;
  max-width: 50px;
  margin: 5px 0;
  text-align: center;
}

.container .card p {
  margin: 12px 0;
  font-weight: 600;
  cursor: pointer;
}

.window_container .card p {
  margin: 12px 0;
  font-weight: 600;
  cursor: pointer;
}

.container .card .box {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
}

.button {
  width: 1px;
  height: 1px;
}

.window_container .card .box {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
}

.logo{
  height: 100px;
  padding: 20px;
}

.window_pic{
  height: 310px;
}

.sliderimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
